* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.dropdown {
  background-color: #e5e5e5;
  width: 300px;
  padding: 30px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}
.dropdown__simplebar {
  height: 240px;
  padding-right: 20px;
}
.dropdown__item {
  min-height: 30px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-bottom: 20px;
}
.dropdown__item:last-child {
  margin-bottom: 0px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: grey;
  width: 2px;
}
.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: pink;
}

.menu__list {
  display: flex;
}
.menu__item {
  position: relative;
  margin-right: 50px;
}
.menu__btn {
  background-color: transparent;
  border: none;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

/* Фоновые картинки для выпадашек | Первая выпадашка */

#first_dropdown_list .footer-navbar__dropitem:nth-child(1) {
  background-image: url(../img/backgrounds/tintor.png);
}

#first_dropdown_list .footer-navbar__dropitem:nth-child(2) {
  background-image: url(../img/backgrounds/fridrikh.png);
}

#first_dropdown_list .footer-navbar__dropitem:nth-child(3) {
  background-image: url(../img/backgrounds/leonardo.png);
}

#first_dropdown_list .footer-navbar__dropitem:nth-child(4) {
  background-image: url(../img/backgrounds/verrok.png);
}

/* Фоновые картинки для выпадашек | Вторая выпадашка */

#second_dropdown_list .footer-navbar__dropitem:nth-child(1) {
  background-image: url(../img/backgrounds/mone.png);
}

#second_dropdown_list .footer-navbar__dropitem:nth-child(2) {
  background-image: url(../img/backgrounds/sisley.png);
}

#second_dropdown_list .footer-navbar__dropitem:nth-child(3) {
  background-image: url(../img/backgrounds/mane.png);
}

#second_dropdown_list .footer-navbar__dropitem:nth-child(4) {
  background-image: url(../img/backgrounds/renuar.png);
}

/* Фоновые картинки для выпадашек | Третья выпадашка */

#third_dropdown_list .footer-navbar__dropitem:nth-child(1) {
  background-image: url(../img/backgrounds/vangog.png);
}

#third_dropdown_list .footer-navbar__dropitem:nth-child(2) {
  background-image: url(../img/backgrounds/sezan.png);
}

#third_dropdown_list .footer-navbar__dropitem:nth-child(3) {
  background-image: url(../img/backgrounds/gogen.png);
}

#third_dropdown_list .footer-navbar__dropitem:nth-child(4) {
  background-image: url(../img/backgrounds/sera.png);
}

/* Фоновые картинки для выпадашек | Четвертая выпадашка */

#fourth_dropdown_list .footer-navbar__dropitem:nth-child(1) {
  background-image: url(../img/backgrounds/kandin.png);
}

#fourth_dropdown_list .footer-navbar__dropitem:nth-child(2) {
  background-image: url(../img/backgrounds/marinet.png);
}

#fourth_dropdown_list .footer-navbar__dropitem:nth-child(3) {
  background-image: url(../img/backgrounds/malevich.png);
}

#fourth_dropdown_list .footer-navbar__dropitem:nth-child(4) {
  background-image: url(../img/backgrounds/pikasso.png);
}

/* Фоновые картинки для выпадашек | Пятая выпадашка */

#fivth_dropdown_list .footer-navbar__dropitem:nth-child(1) {
  background-image: url(../img/backgrounds/karra.png);
}

#fivth_dropdown_list .footer-navbar__dropitem:nth-child(2) {
  background-image: url(../img/backgrounds/pratella.png);
}

#fivth_dropdown_list .footer-navbar__dropitem:nth-child(3) {
  background-image: url(../img/backgrounds/severini.png);
}

#fivth_dropdown_list .footer-navbar__dropitem:nth-child(4) {
  background-image: url(../img/backgrounds/balla.png);
}
