:root {
  --white: #fff;
  --black: #000;
  --dark: #333;
  --gray: #666;
  --light-gray: #999;
  --purple-100: #d1a9f0;
  --purple-300: #c283f3;
  --purple-500: #9d5cd0;
  --purple-700: #7943a4;
  --green: #30bf39;
  --blue: #26a5e4;
  --red: #d11616;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
input {
  border: 0;
  background-color: lightgrey;
}
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-btn__open path,
.form-btn__open rect,
.form-btn__submit path,
.form-btn__submit rect {
  transition: fill 0.3s ease-in-out;
}
.form-btn__open:hover path,
.form-btn__open:hover rect,
.form-btn__submit:hover path,
.form-btn__submit:hover rect {
  fill: var(--purple-300);
}
.form-btn__submit {
  margin-right: 20px;
}
.form-btn__open {
  transition: opacity 0.3s ease-in-out;
}
.form-btn__open.active {
  opacity: 0;
}
.form {
  display: flex;
  align-items: center;
  border: 2px solid grey;
  padding: 12px 20px;

  max-width: 340px;
  width: 100vh;
  border-radius: 20px;

  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-250%);
  right: 20px;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s,
    visibility 0.3s ease-in-out 0.2s;
}

.form__input {
  flex: 1;

  padding: 5px;
  margin: 0;
  background: transparent;
  border-bottom: 1px solid white;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.form__input:hover {
  border-bottom: 1px solid var(--purple-300);
}

.form__input:active {
  border-bottom: 1px solid var(--purple-700);
}

.form__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.flex {
  display: flex;
}
.flex-ai-center {
  align-items: center;
}
.flex-jc-between {
  justify-content: space-between;
}

.form__active {
  transform: translateY(40%);
  opacity: 1;
  visibility: visible;
}
.form-close {
  padding: 0;
}
