:root {
  --white: #fff;
  --black: #000;
  --dark: #333;
  --gray: #666;
  --light-gray: #999;
  --purple-100: #d1a9f0;
  --purple-300: #c283f3;
  --purple-500: #9d5cd0;
  --purple-700: #7943a4;
  --green: #30bf39;
  --blue: #26a5e4;
  --red: #d11616;
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.upper-navbar {
  padding-left: 160px;
  padding-right: 160px;
  min-height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-navbar__item {
  color: var(--white);
}

.upper-navbar__item:not(:last-child) {
  margin-right: 62px;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white);
}

.footer-navbar__list {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.footer-navbar__button button {
  color: var(--white);
}

.footer-navbar__dropitem {
  cursor: pointer;
}
